<!-- above this all styles moved to posts.scss -->


<div class="parallax">
</div>

<div class='caption'>
    <h1><span class="border">THREES</span></h1>
</div>

<div class="bgimg-2">
    <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: white;">Do you have a list of three you want to share?</span>
    </div>
</div>

<div class="bgimg-3">
    <div class="caption">
        <span class="border" style="font-size: 25px;">We want to hear from you.</span>
    </div>
</div>

</body>
</html>
