<div class="container" style="font-family: Verdana, Geneva, sans-serif;
                                    background-image: url('https://static.pexels.com/photos/270662/pexels-photo-270662.jpeg');
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 70em;
                                    width: 100%;
                                    opacity: 0.65;">

  <div style="color: white;">
    <h2>About</h2>
    <p>
      We always have a list of something that we can share with friends.  In this site, I welcome everybody to post any list they can think of to share.  I decided on lists of three's so the posts can be short and sweet instead of getting too long that readers will become disinterested.
    </p>
  </div>

  <%= link_to 'Home', posts_path, class: 'btn btn-primary' %>

</div>