

<div class="container img-responsive" style="font-family: Verdana, Geneva, sans-serif;
                                    background-image: url('https://static.pexels.com/photos/332802/pexels-photo-332802.jpeg');
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 70em;
                                    width: 100%;
                                    opacity: 0.65;">

  <div class="text-center" style="color: black;">
    <h2>Contact Us</h2>
    <br>
    <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="https://plus.google.com/discover" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
    <a href="https://github.com/ypett/my_bus" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>

  </div>

  <br>
  <div class="text-center">
    <%= link_to 'Home', posts_path, class: 'btn btn-primary' %>
  </div>


</div>